<div
  class="card w-full bg-base-100 card-sm hover:shadow border border-base-content/10"
>
  <div class="card-body">
    <h2 class="card-title font-bold text-lg">
      <i class="fa-regular fa-address-card"></i> About
    </h2>
    <p class="text-sm">
      I’m a full-stack software engineer specializing in JavaScript and
      TypeScript-based applications, with additional experience in PHP, working
      in a government production environment.
    </p>
    <p class="text-sm">
      I have designed and developed multiple internal applications, including an
      LGU Office ID Maker System, Attendance Monitoring System, HR Tabulator
      System, and HRIS-related modules.
    </p>
    <p class="text-sm">
      Lately, I have been learning and exploring artificial intelligence
      integration in software projects, focusing on applying AI tools and
      techniques to enhance application functionality. I am particularly
      interested in incorporating AI-driven features into web-based systems to
      deliver practical, efficient, and innovative solutions.
    </p>
  </div>
</div>
