<div
  class="card w-full bg-base-100 card-sm hover:shadow border border-base-content/10 h-full"
>
  <div class="card-body sm:min-w-68 w-full">
    <h2 class="card-title font-bold text-lg items-center">
      <i class="fa-regular fa-address-card"></i> Beyond Coding
    </h2>
    <h1 class="text-sm">
      Coding is my craft, but I also love connecting with people, exploring new
      ideas, and making technology approachable. I enjoy turning concepts into
      real-world solutions.
    </h1>
  </div>
</div>
