<div
  class="card w-full bg-base-100 card-sm hover:shadow border border-base-content/10"
>
  <div class="card-body">
    <div class="border-l border-base-content/10 pl-4 flex flex-col gap-4">
      <div class="relative">
        <div class="absolute -left-5.5 -top-2">
          <i class="fa-solid fa-circle"></i>
        </div>
        <h2 class="italic text-xs">Present</h2>
        <h1 class="font-black">IT Specialist (Programmer)</h1>
        <h1>LGU Bayawan, HR Department</h1>
      </div>
      <div class="relative">
        <div class="absolute -left-5.5 -top-2">
          <i class="fa-regular fa-circle"></i>
        </div>
        <h2 class="italic text-xs">2023</h2>
        <h1 class="font-black">BS Information Technology</h1>
        <h1>Negros Oriental State University, BSC</h1>
      </div>
      <div class="relative">
        <div class="absolute -left-5.5 -top-2">
          <i class="fa-regular fa-circle"></i>
        </div>
        <h2 class="italic text-xs">2015</h2>
        <h1 class="font-black">
          Hello World <i class="fa-solid fa-hand-sparkles"></i>
        </h1>
        <h1>Wrote my first line of code</h1>
      </div>
    </div>
  </div>
</div>
