<div class="w-full flex gap-6">
  <div className="avatar">
    <div className="w-24 rounded">
      <img
        src="https://img.daisyui.com/images/profile/demo/batperson@192.webp"
        class="max-w-40 w-full rounded"
      />
    </div>
  </div>
  <div class="flex flex-col justify-between py-3">
    <div>
      <h1 class="text-2xl font-bold">Kim Harold Pinanonang</h1>
      <h1 class="text-sm">
        <i class="fa-solid fa-location-dot mr-2"></i> Negros Oriental,
        Philippines
      </h1>
    </div>
    <h1>Software Engineer</h1>
    <div class="flex gap-3 flex-wrap">
      <button class="btn btn-neutral btn-sm">
        <i class="fas fa-envelope"></i> Send Email
      </button>
      <button class="btn btn-sm">
        <i class="fa-solid fa-download"></i> Download Resume
      </button>
      <button class="btn btn-sm">
        <i class="fa-brands fa-github"></i> Github
      </button>
      <button class="btn btn-sm">
        <i class="fa-brands fa-square-facebook"></i> Facebook
      </button>
      <button class="btn btn-sm">
        <i class="fa-brands fa-instagram"></i> Instagram
      </button>
    </div>
  </div>
</div>
