<div class="w-full flex gap-6">
  <div className="avatar">
    <div className="w-24 rounded">
      <img src="/assets/images/me2.jpg" class="max-w-40 w-full rounded" />
    </div>
  </div>
  <div class="flex flex-col justify-between py-3">
    <div>
      <h1 class="text-2xl font-bold">Kim Harold Pinanonang</h1>
      <h1 class="text-sm">
        <i class="fa-solid fa-location-dot mr-2"></i> Negros Oriental,
        Philippines
      </h1>
    </div>
    <h1>Software Engineer</h1>
    <div class="flex gap-3 flex-wrap">
      <a
        href="https://mail.google.com/mail/?view=cm&to=kimpoyyy31@gmail.com&su=Portfolio%20Contact"
        class="btn btn-neutral btn-sm"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fas fa-envelope"></i> Send Email
      </a>
      <button class="btn btn-sm">
        <i class="fa-solid fa-download"></i> Download Resume
      </button>
    </div>
  </div>
</div>
