<div class="w-full flex gap-6">
  <div className="avatar">
    <div className="w-24 rounded">
      <img
        src="https://img.daisyui.com/images/profile/demo/batperson@192.webp"
        class="max-w-40 w-full rounded"
      />
    </div>
  </div>
  <div class="flex flex-col justify-between py-3">
    <div>
      <h1 class="text-2xl font-bold">Kim Harold Pinanonang</h1>
      <h1 class="text-sm">Negros Oriental, Philippines</h1>
    </div>
    <h1 class="text-sm">Software Engineer</h1>
    <div class="flex gap-3">
      <button class="btn btn-neutral btn-sm">Send Email</button>
      <button class="btn btn-sm">Download Resume</button>
      <button class="btn btn-sm">Github</button>
    </div>
  </div>
</div>
