<div
  class="card w-full bg-base-100 card-sm hover:shadow border border-base-content/10"
>
  <div class="card-body min-w-62">
    <h2 class="card-title font-bold text-lg items-center">
      <i class="fa-solid fa-link"></i> Socials
    </h2>
    <div class="gap-1 flex flex-col">
      <a
        href="https://github.com/kimpoy31"
        class="btn btn-sm w-full"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i> Github
      </a>

      <a
        href="https://www.facebook.com/kimharold.pinanonang/"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-sm w-full"
      >
        <i class="fa-brands fa-facebook"></i> Facebook
      </a>
      <a
        <a
        href="https://www.instagram.com/notkimmpoy/"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-sm w-full"
      >
        <i class="fa-brands fa-instagram"></i> Instagram
      </a>
    </div>
  </div>
</div>
